FLASK_ENV=production
FLASK_DEBUG=False

AUTH_API_URL=http://auth-ms:3333
BLOCKCHAIN_API_URL=http://blockchain:5001
SUMMARY_API_URL=http://summary-ai:5000

JWT_SECRET=your-secret-key-change-in-production

API_GATEWAY_PORT=5002
API_GATEWAY_HOST=0.0.0.0
